# Build outputs & dependencies
target/
src-tauri/target
src-tauri/gen
node_modules/
dist/
dist-ssr/
scratch/
videos/
logs/
*.log

# Version control & CI/CD
.git/
.github/

# IDE & Editor files
.vscode/
.idea/
.claude/
.DS_Store
*.local

# Frontend & Docs
src/
public/
docs/
